body {
    font-family: 'Inter', Helvetica, sans-serif;
}

.navbar {
    text-align: center;
    vertical-align: middle;
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar a:link, a:visited {
    color:#000000;
}

#lydiaC {
    font-size: 20pt;
    font-weight: 500;
    padding: 20px 25px;
}

#lydiaC a:link {
    color: #000000;
}

#lydiaC a:visited {
    color: #000000;
}

#lydiaC a:hover {
    color: #ffd500;
    font-style: italic;
}

a:link {
    color: #5EAD7E;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #5EAD95;
}

a:hover {
    text-decoration: none;
    color: #2D9055;
}

a:active {
    text-decoration: none;
    color: #2D9055;
}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 25px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
/* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
  @media only screen and (min-width: 768px) {
/* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
