* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 12.5px;
    width: 100%;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
/* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
  @media only screen and (min-width: 768px) {
/* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

body {
    font-family: 'Inter', Helvetica, sans-serif;
}

img, background-image {
    width: 100%;
    height: auto;
}

.navbar {
    text-align: center;
    vertical-align: middle;
    padding: 50px 0px;
}

.button {
    background-color: #ffffff;
    border: none;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}

.quote {
    height: 100%;
    width: 100%;
    margin-top: 21px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*mobile phones*/
.words {
    text-align: center;
    font-size: 18pt;
    position: absolute;
    height: inherit;
    top: 0px;
    z-index: 1;
    vertical-align: middle;
    padding: 25px;
    white-space: normal;
    overflow: scroll;
    text-overflow: ellipsis;
    margin: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*tablets*/
@media only screen and (min-width: 600px) {
    .words {
        text-align: center;
        font-size: 10pt;
        position: absolute;
        height: inherit;
        top: 0px;
        z-index: 1;
        vertical-align: middle;
        padding: 25px;
        white-space: normal;
        overflow: scroll;
        text-overflow: ellipsis;
        margin: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .words {
        text-align: center;
        font-size: 14pt;
        position: absolute;
        height: inherit;
        top: 0px;
        z-index: 1;
        vertical-align: middle;
        padding: 25px;
        white-space: normal;
        overflow: scroll;
        text-overflow: ellipsis;
        margin: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


    
#lydiaC {
    font-size: 20pt;
    font-weight: 500;
    text-align: left;
    padding: 16px 25px;
}

#lydiaC a:link {
    text-decoration: none;
    color: #000000;
}

#lydiaC a:visited {
    text-decoration: none;
    color: #000000;
}

#lydiaC a:hover {
    text-decoration: none;
    color: #ffd500;
    font-style: italic;
}

.subpages a:link {
    text-decoration: none;
    color: #000000;
}

.subpages a:visited {
    text-decoration: none;
    color: #000000
}

.subpages a:hover {
    text-decoration: underline;
    color: #2D9055;
}

.subpages a:active {
    text-decoration: underline;
    color: #2D9055;
}

.footer {
    padding: 50px 0px;
}

#pagetop {
    font-size: 30pt;
    color: #ABD4BB;
    border-style: solid;
    border-radius: 40px;
    padding: 5px 10px;
    border-width: 2px;
    border-color: #AAD4BB;
    margin: 0px 50px;
}

a#pagetop:hover {
    color: #ffffff;
    background-color: #5EAD7E;
    border-color: #5EAD7E;
    text-decoration: none;
}

a:link {
    color: #5EAD7E;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #5EAD95;
}

a:hover {
    text-decoration: underline;
    color: #2D9055;
}

a:active {
    text-decoration: underline;
    color: #2D9055;
}
