---
layout: post
title: "successful test run!"
---
<div class="site-link">
      
    </div>
  <div></div>
<div><br></div>
<div>after about 6-7 hours, i am now able to publish here from my cellphone &lt;3</div>
<div><br></div>
<div>the pipeline is that:</div>
<ol>
<li>i write something in the notes app (phone or desktop), then </li>
<li>click (or tap, on my phone) a shortcut, that </li>
<li>generates an empty .txt file in an iCloud folder</li>
<li>which then triggers the “Automator” app on my computer</li>
<li>to then run a bunch of script:</li>
<ul>
<li>first, a ruby/JS script that generates html (doctored from https://github.com/29decibel/notes-to-blog)</li>
<li>then, a python script that turns it into a markdown file</li>
<li>while a shell script compresses the images for web</li>
</ul>
<li>and also pushes &amp; commits the new content to github pages!</li>
</ol>
<div><span style="font-size: 12px">– </span>which is where i host this self-published thing. :-)</div>
<div><br></div>
<div>i have a list of extra features i’d like to implement, but for now— my poor brain is going to bed!</div>
<div><br></div>
<div>here is beau on our new blanket, a sample from work:</div>
<div><img src="/assets/post-images/successful-test-run-01.jpeg"><br></div>
